# Extract Part

In [5]:
# Import all dependencies
import pandas as pd
from sqlalchemy import create_engine

# Locate all three CSV files
confirmed_csv_file = "time_series_covid19_confirmed_global.csv"
recovered_csv_file = "time_series_covid19_recovered_global.csv"
deaths_csv_file = "time_series_covid19_deaths_global.csv"

# Read and display confirmed cases
confirmed_data_df = pd.read_csv(confirmed_csv_file)
print("\nConfirmed Cases Data (First 5 rows):")
print(confirmed_data_df.head())  # Explicitly printing

# Read and display recovered cases
recovered_data_df = pd.read_csv(recovered_csv_file)
print("\nRecovered Cases Data (First 5 rows):")
print(recovered_data_df.head())  # Explicitly printing

# Read and display deaths cases
deaths_data_df = pd.read_csv(deaths_csv_file)
print("\nDeaths Cases Data (First 5 rows):")
print(deaths_data_df.head())  # Explicitly printing

Confirmed Cases Data (First 5 rows):
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0
2            NaN        Algeria  28.0339   1.6596        0        0        0
3            NaN        Andorra  42.5063   1.5218        0        0        0
4            NaN         Angola -11.2027  17.8739        0        0        0

   1/25/20  1/26/20  1/27/20  ...  3/18/20  3/19/20  3/20/20  3/21/20  \
0        0        0        0  ...       22       22       24       24
1        0        0        0  ...       59       64       70       76
2        0        0        0  ...       74       87       90      139
3        0        0        0  ...       39       53       75       88
4        0        0        0  ...        0        0        1        2

   3/22/20  3/23/20  3/24/20  3/25/20  3/26/20  3/27/20
0       40       40       74       84       94      110
1       89      104      123      146      174      186
2      201      230      264      302      367      409
3      113      133      164      188      224      267
4        2        3        3        3        4        4

[5 rows x 70 columns]

Recovered Cases Data (First 5 rows):
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0
2            NaN        Algeria  28.0339   1.6596        0        0        0
3            NaN        Andorra  42.5063   1.5218        0        0        0
4            NaN         Angola -11.2027  17.8739        0        0        0

   1/25/20  1/26/20  1/27/20  ...  3/18/20  3/19/20  3/20/20  3/21/20  \
0        0        0        0  ...        1        1        1        1
1        0        0        0  ...        0        0        0        2
2        0        0        0  ...       12       32       32       32
3        0        0        0  ...        1        1        1        1
4        0        0        0  ...        0        0        0        0

   3/22/20  3/23/20  3/24/20  3/25/20  3/26/20  3/27/20
0        1        1        1        2        2        2
1        2        2       10       17       17       31
2       65       65       24       65       29       29
3        1        1        1        1        1        1
4        0        0        0        0        0        0

[5 rows x 70 columns]

Deaths Cases Data (First 5 rows):
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0
2            NaN        Algeria  28.0339   1.6596        0        0        0
3            NaN        Andorra  42.5063   1.5218        0        0        0
4            NaN         Angola -11.2027  17.8739        0        0        0

   1/25/20  1/26/20  1/27/20  ...  3/18/20  3/19/20  3/20/20  3/21/20  \
0        0        0        0  ...        0        0        0        0
1        0        0        0  ...        2        2        2        2
2        0        0        0  ...        7        9       11       15
3        0        0        0  ...        0        0        0        0
4        0        0        0  ...        0        0        0        0

   3/22/20  3/23/20  3/24/20  3/25/20  3/26/20  3/27/20
0        1        1        1        2        4        4
1        2        4        5        5        6        8
2       17       17       19       21       25       26
3        1        1        1        1        3        3
4        0        0        0        0        0        0

[5 rows x 70 columns]

# Transform Part

In [6]:
#Import module 
import numpy as np

In [9]:
#Confirm the data are the right data types
confirmed_data_df.dtypes
recovered_data_df.dtypes
deaths_data_df.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
3/23/20             int64
3/24/20             int64
3/25/20             int64
3/26/20             int64
3/27/20             int64
Length: 70, dtype: object

In [25]:
import pandas as pd
import numpy as np

# Function to clean datasets
def clean(df):
    # Drop unnecessary columns
    df = df.drop(columns=['Province/State', 'Lat', 'Long'])

    # Identify columns containing March data (dynamic selection)
    date_columns = [col for col in df.columns if '3/' in col]  # Selects columns for March

    # Keep "Country/Region" and March data
    clean_df = df[['Country/Region'] + date_columns].groupby('Country/Region').sum().reset_index()
    
    return clean_df

# Clean the datasets
confirmed_clean_df = clean(confirmed_data_df)
recovered_clean_df = clean(recovered_data_df)
deaths_clean_df = clean(deaths_data_df)

# Display cleaned data
print("\nCleaned Confirmed Cases Data:")
print(confirmed_clean_df.head())

print("\nCleaned Recovered Cases Data:")
print(recovered_clean_df.head())

print("\nCleaned Death Cases Data:")
print(deaths_clean_df.head())

Cleaned Confirmed Cases Data:
  Country/Region  1/23/20  2/3/20  2/13/20  2/23/20  3/1/20  3/2/20  3/3/20  \
0    Afghanistan        0       0        0        0       1       1       1
1        Albania        0       0        0        0       0       0       0
2        Algeria        0       0        0        0       1       3       5
3        Andorra        0       0        0        0       0       1       1
4         Angola        0       0        0        0       0       0       0

   3/4/20  3/5/20  ...  3/18/20  3/19/20  3/20/20  3/21/20  3/22/20  3/23/20  \
0       1       1  ...       22       22       24       24       40       40
1       0       0  ...       59       64       70       76       89      104
2      12      12  ...       74       87       90      139      201      230
3       1       1  ...       39       53       75       88      113      133
4       0       0  ...        0        0        1        2        2        3

   3/24/20  3/25/20  3/26/20  3/27/20
0       74       84       94      110
1      123      146      174      186
2      264      302      367      409
3      164      188      224      267
4        3        3        4        4

[5 rows x 32 columns]

Cleaned Recovered Cases Data:
  Country/Region  1/23/20  2/3/20  2/13/20  2/23/20  3/1/20  3/2/20  3/3/20  \
0    Afghanistan        0       0        0        0       0       0       0
1        Albania        0       0        0        0       0       0       0
2        Algeria        0       0        0        0       0       0       0
3        Andorra        0       0        0        0       0       0       0
4         Angola        0       0        0        0       0       0       0

   3/4/20  3/5/20  ...  3/18/20  3/19/20  3/20/20  3/21/20  3/22/20  3/23/20  \
0       0       0  ...        1        1        1        1        1        1
1       0       0  ...        0        0        0        2        2        2
2       0       0  ...       12       32       32       32       65       65
3       0       0  ...        1        1        1        1        1        1
4       0       0  ...        0        0        0        0        0        0

   3/24/20  3/25/20  3/26/20  3/27/20
0        1        2        2        2
1       10       17       17       31
2       24       65       29       29
3        1        1        1        1
4        0        0        0        0

[5 rows x 32 columns]

Cleaned Death Cases Data:
  Country/Region  1/23/20  2/3/20  2/13/20  2/23/20  3/1/20  3/2/20  3/3/20  \
0    Afghanistan        0       0        0        0       0       0       0
1        Albania        0       0        0        0       0       0       0
2        Algeria        0       0        0        0       0       0       0
3        Andorra        0       0        0        0       0       0       0
4         Angola        0       0        0        0       0       0       0

   3/4/20  3/5/20  ...  3/18/20  3/19/20  3/20/20  3/21/20  3/22/20  3/23/20  \
0       0       0  ...        0        0        0        0        1        1
1       0       0  ...        2        2        2        2        2        4
2       0       0  ...        7        9       11       15       17       17
3       0       0  ...        0        0        0        0        1        1
4       0       0  ...        0        0        0        0        0        0

   3/24/20  3/25/20  3/26/20  3/27/20
0        1        2        4        4
1        5        5        6        8
2       19       21       25       26
3        1        1        3        3
4        0        0        0        0

[5 rows x 32 columns]

In [27]:
#Confirm the content of "Country/Region" column are the same in those dataframes
confirmed_clean_df["Country/Region"].equals(deaths_clean_df["Country/Region"])

True

In [13]:
#Same as above
recovered_clean_df["Country/Region"].equals(deaths_clean_df["Country/Region"])

True

In [45]:
#Import module 
import datetime
import os
#Create a function to convert columns of dates into one new column, and sorting the dataset by 'Country/Region' and 'Date'

def convert(clean_df):
    #Convert columns of dates into a new column 'Date', and store the data in a new column 'Number'
    converted = pd.melt(clean_df, id_vars=["Country/Region"], 
                  var_name="Date", value_name="Number")
    #Convert the data type from string to datetime64 for the data in column 'Date' 
    converted['Date'] = pd.to_datetime(converted['Date'])
    #Sort the dataset by "Country/Region" and "Date"
    converted_df = converted.sort_values(by=["Country/Region","Date"])
    
    return converted_df   
#Apply convert function
confirmed_convert_df = convert(confirmed_clean_df)
recovered_convert_df = convert(recovered_clean_df)
deaths_convert_df = convert(deaths_clean_df)


deaths_convert_df

C:\Users\mdaas\AppData\Local\Temp\ipykernel_2220\3573439166.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted['Date'] = pd.to_datetime(converted['Date'])
C:\Users\mdaas\AppData\Local\Temp\ipykernel_2220\3573439166.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted['Date'] = pd.to_datetime(converted['Date'])
C:\Users\mdaas\AppData\Local\Temp\ipykernel_2220\3573439166.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted['Date'] = pd.to_datetime(converted['Date'])

     Country/Region       Date  Number
0       Afghanistan 2020-01-23       0
176     Afghanistan 2020-02-03       0
352     Afghanistan 2020-02-13       0
528     Afghanistan 2020-02-23       0
704     Afghanistan 2020-03-01       0
...             ...        ...     ...
4751       Zimbabwe 2020-03-23       1
4927       Zimbabwe 2020-03-24       1
5103       Zimbabwe 2020-03-25       1
5279       Zimbabwe 2020-03-26       1
5455       Zimbabwe 2020-03-27       1

[5456 rows x 3 columns]

In [47]:
#Create a function to calculate the daily increase

def dailychange(convert_df):
    #Change the index in order to apply diff() function
    convert_df = convert_df.set_index(['Country/Region','Date'])
    
    #Create a new column to store the difference between rows
    convert_df['amount_of_increase']=convert_df.diff()
    
    #Change back the index
    convert_df=convert_df.reset_index()
    
    #Run a for loop to check the boundary rows where the 'Country' changes, and change the value of difference to 0
    for i in range(0,int(convert_df.index.size)-1):
        if convert_df['Country/Region'][i] != convert_df['Country/Region'][i+1]:
            convert_df.at[i+1,'amount_of_increase'] = 0
        else:
            pass
    
    #Fill all NaN with 0
    convert_df=convert_df.fillna(0)

    return convert_df

#Apply the function
confirmed_daily_df = dailychange(confirmed_convert_df)
recovered_daily_df = dailychange(recovered_convert_df)
deaths_daily_df = dailychange(deaths_convert_df)

deaths_daily_df

     Country/Region       Date  Number  amount_of_increase
0       Afghanistan 2020-01-23       0                 0.0
1       Afghanistan 2020-02-03       0                 0.0
2       Afghanistan 2020-02-13       0                 0.0
3       Afghanistan 2020-02-23       0                 0.0
4       Afghanistan 2020-03-01       0                 0.0
...             ...        ...     ...                 ...
5451       Zimbabwe 2020-03-23       1                 1.0
5452       Zimbabwe 2020-03-24       1                 0.0
5453       Zimbabwe 2020-03-25       1                 0.0
5454       Zimbabwe 2020-03-26       1                 0.0
5455       Zimbabwe 2020-03-27       1                 0.0

[5456 rows x 4 columns]

In [49]:
#Rename the columns
confirmed_daily_df.columns=['country','date','accumulated_confirmed','increase_of_confirmed']
recovered_daily_df.columns=['country','date','accumulated_recovered','increase_of_recovered']
deaths_daily_df.columns=['country','date','accumulated_deaths','increase_of_deaths']
# Turning the last colum of each DataFrame into an integer
confirmed_daily_df["increase_of_confirmed"] = confirmed_daily_df["increase_of_confirmed"].astype(int)
recovered_daily_df["increase_of_recovered"] = recovered_daily_df["increase_of_recovered"].astype(int) 
deaths_daily_df["increase_of_deaths"] = deaths_daily_df["increase_of_deaths"].astype(int)
#Export datasets
confirmed_daily_df.to_csv(os.path.join('clean_data','confirmed_clean_df.csv'), index=False)
recovered_daily_df.to_csv(os.path.join('clean_data','recovered_clean_df.csv'), index=False)
deaths_daily_df.to_csv(os.path.join('clean_data','deaths_clean_df.csv'), index=False)